= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .new_user__heading
    ログイン
  .form-group
    = f.label :メールアドレス
    = f.email_field :email, class: 'form-control', autofocus: true, autocoplete: 'email'
  .form-group
    = f.label :パスワード
    = f.password_field :password, class: 'form-control', autocomplete: "current-password"
  = f.submit "ログインする", class: 'btn btn-primary btn-lg btn-block'
  -# = render "users/shared/links"