%h1 予約new画面
= @product.id
= @product.name
= current_user.email
= form_with model: [@product, @reservation], local: true do |f|
  = f.label :宿泊開始日
  = f.date_field :start_date
  %br
  = f.label :宿泊終了日
  = f.date_field :end_date
  %br
  = f.submit '予約する'