= form_with model: product, class: 'product-form', local: true do |f|
  .form-group
    = f.label :商品名
    = f.text_field :name, class: 'form-control'
  .form-row
    .form-group.col-md-6
      = f.label :宿泊料金（円）
      = f.number_field :price, class: 'form-control'
    .form-group.col-md-6
      = f.label :最大宿泊人数
      = f.number_field :max_count, class: 'form-control'
  .form-group
    = f.label :商品詳細
    = f.text_area :content, class: 'form-control'
  .form-group
    = f.label :商品画像
    = f.file_field :image
  .view-area
    = image_tag "#{@product.image}", id: 'product-image'
  = f.submit '商品を登録する', class: 'btn btn-primary btn-lg btn-block form-group'