.slider
  - @top_images.each do |image|
    .slick-content
      = image_tag "#{image}", alt: "トップイメージ"
.products
  .products__heading
    キャンプ場一覧
  .products__contents
    - @products.each do |product|
      = link_to product_path(product), class: 'card' do
        .card__top
          = image_tag "#{@top_images[0]}", class: "card__top--image"
        .card__bottom
          .card__bottom--name
            = product.name
          .card__bottom--content
            = product.content
  = paginate(@products)