.product
  .product__name
    = @product.name
  .product__image
    = image_tag "#{@product.image}"
  .product__content
    = @product.content
  .product__price
    = number_to_currency(@product.price)
    〜
  - if user_signed_in? && current_user.admin?
    = link_to edit_product_path(@product),  class: 'product__reserve btn btn-primary' do
      編集する
  - else
    = link_to new_product_reservation_path(@product), class: 'product__reserve btn btn-primary' do
      予約する
    .product__user-verify
      予約の前に会員登録およびログインが必要になります。
  .product__reviews
    .product__reviews__heading
      最新のレビュー
    .review
      .review__user
        ユーザー1さん
      .progress.fivestar
        .progress-bar.progress-bar-star{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: 100%"}
      .review__content
        レビュー１。とても良かったです。また行きたいです。
    .review
      .review__user
        ユーザー1さん
      .progress.fivestar
        .progress-bar.progress-bar-star{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: 100%"}
      .review__content
        レビュー１。とても良かったです。また行きたいです。
  .product__other
    = link_to products_path, class: 'product__other__heading' do
      他のサイトをみる
    .products__contents
      - @products.each do |product|
        = link_to product_path(product), class: 'card' do
          .card__top
            = image_tag "#{product.image}", class: "card__top--image"
          .card__bottom
            .card__bottom--name
              = product.name
            .card__bottom--content
              = product.content