.product
  .product__name
    = @product.name
  .product__image
    = image_tag "#{@product.image}"
  .product__content
    = @product.content
  = link_to new_product_reservation_path(@product), class: 'product__reserve btn btn-primary' do
    予約する
  .product__user-verify
    予約の前に会員登録およびログインが必要になります。
  .product__other
    = link_to products_path, class: 'product__other__heading' do
      他のサイトをみる
    .products__contents
      - @products.each do |product|
        = link_to product_path(product), class: 'card' do
          .card__top
            = image_tag "#{product.image}", class: "card__top--image"
          .card__bottom
            .card__bottom--name
              = product.name
            .card__bottom--content
              = product.content