%nav.navbar.navbar-expand-lg.navbar-dark.bg-success
  = link_to root_path, class: 'navbar-brand red' do
    camp
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        .nav-link
          みんなのキャンプ場
      - if user_signed_in?
        %li.nav-item
          = link_to user_path(current_user), class: 'nav-link' do
            = current_user.full_name
        %li.nav-item
          = link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
            ログアウト
      - else
        %li.nav-item
          = link_to new_user_registration_path, class: 'nav-link' do
            会員登録
        %li.nav-item
          = link_to new_user_session_path, class: 'nav-link' do
            ログイン
      %li.nav-item
        = link_to new_contact_path, class: 'nav-link' do
          お問い合わせ
      %li.nav-item.dropdown
        %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          コントリビュート
        .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          = link_to reviews_path, class: 'dropdown-item' do
            みんなのレビュー
          = link_to ranking_index_path, class: 'dropdown-item' do
            みんなのランキング
      - if user_signed_in? && current_user.admin?
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            管理者機能
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            = link_to new_product_path, class: 'dropdown-item' do
              商品登録
            = link_to reservation_tables_path, class: 'dropdown-item' do
              予約一覧
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{"aria-label" => "Search", placeholder: "Search", type: "search"}
      %button.btn.btn-outline-light.my-2.my-sm-0{type: "submit"} Search
